__pycache__
.vscode/
COLCON_IGNORE
mirte_control/mirte_master_base_control/old/
mirte_telemetrix_cpp/.obj-aarch64-linux-gnu/
mirte_telemetrix_cpp/debian_aarch64/
.obj-x86_64-linux-gnu/
debian/
.deb
mirte_telemetrix_cpp/git_sha1.txt
.DS_Store
build/
buildmk/