<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">



  <ros2_control name="GazeboSystem" type="system">
    <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="wheel_left_front_joint">
        <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
        <state_interface name="effort" />
    </joint>
    <joint name="wheel_right_front_joint">
        <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
        </command_interface>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="effort" /> 
    </joint>
   <joint name="wheel_left_rear_joint">
        <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
        </command_interface>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="effort" />
    </joint>
   <joint name="wheel_right_rear_joint">
        <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
        </command_interface>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="effort" />
    </joint>

    <joint name="arm_Rot_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
   </joint>

    <joint name="arm_Shoulder_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">-1.56</param>
        </state_interface>
    </joint>

    <joint name="arm_Elbow_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">-1.56</param>
        </state_interface>
    </joint>

    <joint name="arm_Wrist_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">1.56</param>
        </state_interface>
    </joint>

    <joint name="Gripper_joint">
        <command_interface name="position"/>
        <state_interface name="position" />
    </joint>

    <joint name="_Gripper_joint_r">
        <param name="mimic">Gripper_joint</param>
        <param name="multiplier">-1</param>
        <command_interface name="position"/>
        <state_interface name="position" />
    </joint>

    <joint name="_gripper_link_joint_l">
        <param name="mimic">Gripper_joint</param>
        <param name="multiplier">-1.4</param>
        <command_interface name="position"/>
        <state_interface name="position" />
    </joint>

    <joint name="_gripper_link_joint_r">
        <param name="mimic">Gripper_joint</param>
        <param name="multiplier">1.4</param>
        <command_interface name="position"/>
        <state_interface name="position" />
    </joint>

    <joint name="gripper_finger_joint_l">
        <command_interface name="position"/>
        <state_interface name="position" />
    </joint>

    <joint name="gripper_finger_joint_r">
        <command_interface name="position"/>
        <state_interface name="position" />
    </joint>

  </ros2_control>





<gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
       <parameters>$(find mirte_master_description)/config/mirte_base_control.yaml</parameters>
    </plugin>
    <plugin filename="libgazebo_ros_planar_move.so" name="gazebo_planar_move">
       <robot_base_frame>base_link</robot_base_frame> 
    </plugin>
    <plugin name="libgazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
        <ros>
            <namespace>groundtruth</namespace>
            <remapping>odom:=odom</remapping>
        </ros> 
        <frame_name>world</frame_name>
        <body_name>base_link</body_name>
        <update_rate>200.0</update_rate>
        <gaussian_noise>0.0</gaussian_noise>
     </plugin>

</gazebo>

</robot>
